.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.box.box-panel, #filter-body {
    display: none;
}

#filteri-naslov {
    background: white;
    padding: 10px;
    cursor: pointer
}

.fa.fa-arrow-down {
    font-size: 10px;
    padding-top: 5px;
    vertical-align: bottom;
}

.fa.fa-filter {
    font-size: 14px;
    padding-right: 15px;
}

.nav-item.dropdown .dropdown-toggle:after {
    content: '' !important;
}

.dropdown .dropdown-menu {
    margin-top: 0px !important;
    border: 0;
    background: #223C61;
}

.dropdown .dropdown-menu a {
    color: white;
    padding: 14px 20px !important;
}

.dropdown .dropdown-menu a:hover {
    background: #184679;
}

.container {
    max-width: 90% !important;
}

.unload {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    display: none;
    z-index: 100;
}

.unload-img {
    width: 64px;
    margin: 10% auto 0;
}

.unload-img img {
    width: 64px;
}

.unload-img img {
    animation: beat .5s infinite alternate;
    transform-origin: center;
}

/* Heart beat animation */
@keyframes beat {
    to {
        transform: scale(1.4);
    }
}

.steps-wizard li {
    font-size: 17px;
}

.steps-wizard i {
    margin-right: 10px;
}

.btn-xs {
    padding: 5px 10px !important;
}

.napomena {
    background-color: #ebedee;
    width: 95%;
    padding: 20px;
    padding-right: 30px;
    margin-top: 10px;
    text-align: justify;
}

div.col-1.xdiv {
    background-color: #ebedee;
    padding: 0 !important;
}

.napomenaDelete {
    text-align: center;
    vertical-align: middle;
    background-color: #ebedee;
    width: 100%;
    cursor: pointer;
    padding: 10px !important;
}

.napomenaDelete:hover {
    background-color: #ff4144;
}

.breadcrumbs {
    padding-left: 21px;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs_holder {
    background: #343a40;
    border-top: 2px solid #454545;
}

.breadcrumbs li a {
    color: white;
    font-size: 11px;
}

.org-row:hover {
    background: whitesmoke;
}

.org-row:hover .remove-org {
    display: block !important;
}

.remove-org {
    display: none;
}

[control-export-menu] hr {
    margin: 4px 0 !important;
    padding: 0 !important;
    width: 25px;
}

[control-export-menu] {
    width: 30px !important;
}

li.dropdown:hover > .dropdown-menu {
    background: #343a40 !important;
}

.colVisCont {
    height: 250px;
    display: inline;
    overflow: scroll;
    margin-bottom: 50px;
}

.list-group-item.d-flex.justify-content-between.align-items-center:hover {
    cursor: pointer;
}

/*
    Filters CSS
 */
/*
    Filters CSS
 */
#filtering th:first-child,
#filtering td:first-child {
    text-align: center;
    width: 80px;
}

#filtering th:last-child {
    display: table-cell !important;
}

#filtering th:nth-child(n+5) {
    display: none;
}

#filtering tbody tr td:nth-child(n+5) {
    display: none;
}

#filtering th, #filtering tbody tr td {
    display: none;
}

#filtering tbody tr td:last-child {
    display: table-cell !important;
}

.pull-pagination-right .pagination {
    float: right;
}

.btn-xs {
    font-size: 11px;
}





/**************************************************** ULOOOGEEE *******************************************************/



.well-dude{
    margin-left:15px;
    width:calc(100% - 30px);
}

.well-dude .table-my-header p{
    margin-left:15px;
    font-weight:bold;
    padding-top:7px;
    margin-top:0px;
    margin-bottom:7px;
    font-size:15px;
}

.well-dude .table-my-body a{
    margin-left:15px;
    color:#333;
}
.my-extra-button{
    background:#333;
    color:#fff;
    border:none;
    border-radius:3px;
    font-size:12px;
    padding:3px 10px;
    margin:5px;
}
.my-extra-button-2{margin:0px; padding:0px 10px;}

.generated-access-data{
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    height:400px;
    border:1px solid rgba(0,0,0,0.1);
}

.generated-access-data p{
    margin:15px;
}

.generated-access-data .user-daataaaa{
    margin-left:30px;
}

.mine-table-hehehe td:nth-child(2){
    padding-left:30px;
}