#steps{
    position:relative;
    left:0px;
    top:0px;
    width:100%;
    margin-top:30px;

    form{
        position:relative;
        width:100%;
        height:auto;
    }

    ul{
        position:relative;
        width:100%;
        margin:0px;
        padding:0px;
        list-style-type: none;
        display:flex;
        flex-wrap:nowrap;
        justify-content:space-around;

        li{
            width:25%;
            height:70px;
            justify-content:center;
            text-align:center;
            position:relative;

            .steps-back-left, .steps-back-right{
                position:absolute;
                width:50%;
                height:10px;
                left:0px;
                background:rgb(223,225,226);
                top:20px;
                z-index:-5;
            }
            .steps-back-right{left:50%;}

            .steps-circle{
                display:inline-flex;
                width:50px;
                height:50px;
                left:calc(50% - 20px);
                background:rgb(223,225,226);
                border-radius:50%;
                justify-content:center;
                i{
                    position:relative;
                    text-align:center;
                    font-size:22px;
                    color:#fff;
                    margin-top:12px;
                    /*
                    left:calc(50% - 11px);
                    top:calc(50% - 16px); */
                }
            }

            p{
                font-size:13px;
                font-weight:bold;
            }
        }

        .active{
            .steps-circle, .steps-back-left{
                background:#3490dc;
            }
        }

        .steps-hidden{
            display:none;
        }

        .steps-before{
            .steps-circle, .steps-back-left, .steps-back-right{
                background:#3490dc;
            }
        }
        .steps-left-lines{
            .steps-back-left{
                background-image: linear-gradient(to left, rgb(223,225,226), #F5F5F5);
            }
        }
        .steps-right-lines{
            .steps-back-right{
                background-image: linear-gradient(to right, rgb(223,225,226), #F5F5F5);
                //background: repeating-linear-gradient(
                //                -90deg,
                //                #fff,
                //                #fff 10px,
                //                rgb(223,225,226) 10px,
                //                rgb(223,225,226) 20px
                //);
            }
        }
    }

    overflow:hidden;

    .steps-buttons{
        position:relative;
        width:100%;
        height:60px;
        margin-top:30px;
        display:inline-flex;
        justify-content: center;

        .step-button{
            text-align:center;
            position:relative;
            height:36px;
            background: #1b1e21;
            margin:0px 20px;
            color:#fff;
            border-radius:3px;
            padding-top:2px;
            p{
                margin:5px 20px;
                border-radius:3px;
            }
        }
        .step-next{
            background:#3490dc;
        }
        .step-button:hover{cursor:pointer;}
        .step-button-colorful{
            background:#38c172;
        }
    }

    .single-header-for-tables{
        position:relative;
        left:0px;
        width:100%;
        height:60px;
        margin-top:20px;
        padding:10px 5px 15px 5px;

        h4{
            margin-left:20px;
            margin-top:10px;
            font-weight:bold;
        }
    }
}

section{
    position:relative;
    left:0px;
    width:100%;
    display:none;
    justify-content: space-between;
    flex-wrap:wrap;

    .split-two{
        position:relative;
        border:1px solid rgba(0,0,0,0.1);
        min-height:80px;
        height:auto;
        width:calc(50% - 15px);
        margin-top:30px;
        padding:10px 5px 15px 5px;
    }

    .single-one{
        position:relative;
        border:1px solid rgba(0,0,0,0.1);
        min-height:80px;
        width:100%;
        margin-top:30px;
        padding:10px 5px 15px 5px;
    }
    .single-one-without-padding{
        padding:0px;
        .steps-inner-header{
            margin-top:5px;
        }
    }

    .section-header{
        position:relative;
        border:1px solid rgba(0,0,0,0.1);
        width:100%;
        margin-top:20px;
        padding:10px 5px 15px 5px;

        h4{
            margin-left:20px;
            margin-top:15px;
            font-weight:bold;
        }

        .buttons{
            position:absolute;
            right:20px;
            height:36px;
            background:#38C172;
            top:18px;
            border-radius:3px;
            display:inline-flex;
            overflow:hidden;

            .small-button{
                position:relative;
                min-width:36px;
                height:36px;
                text-align:center;
                display:inline-flex;
                justify-content: center;
                transition:all 0.2s;
                i{
                    font-size:14px;
                    color:#fff;
                    margin-top:11px;
                }
                .fa-angle-left{
                    color:#fff;
                    font-size:20px;
                    margin-top:8px;
                    top:0px;
                }

                p{
                    color:#fff;
                    margin-right:14px;
                    margin-top:7px;
                }
            }
            .small-button-border{
                border-right:1px solid rgba(255,255,255,0.3);
            }

            .small-button:hover{cursor:pointer; background:#1d68a7;}
            .small-button-edit:hover{background:#857b26;}
            .small-button-delete:hover{background:#ae1c17;}
        }
    }
    .section-header-without{
        border:none;
        .buttons{right:0px;}
    }

    .split-two, .single-one{
        .steps-inside-element{
            position:relative;
            border-top:1px solid rgba(0,0,0,0.1);
            width:100%;
            margin-top:10px;
            padding-top:10px;
            transition:all 0.2s;

            .steps-inside-element-delete{
                position:absolute;
                right:5px; top:5px;
                width:20px;
                height:20px;
                background:#3490dc;
                text-align:center;
                border-radius:3px;
                z-index:100;
                opacity:0;
                transition:all 0.2s;
                z-index:100;
                i{
                    position:absolute;
                    right:5px;
                    top:calc(50% - 5px);
                    font-size:10px;
                    color:#fff;
                }
            }

            .steps-inside-element-delete:hover{cursor:pointer; }
        }

        .steps-inside-element:hover{background:rgba(0,0,0,0.05);}
        .steps-inside-element-two:hover{background:none;}
        .steps-inside-element:hover .steps-inside-element-delete{opacity:1;}

        .steps-inner-header{
            position:relative;
            width:100%;
            height:50px;
            h4{
                margin-top:0px;
                padding-top:15px;
                margin-left:15px;
            }
        }
    }

    .steps-row{
        position:relative;
        width:100%;
        flex-wrap:nowrap;
        display:inline-flex;
        transition:all 0.2s;
        .steps-col{
            position:relative;
            width:100%;
            padding:5px 15px 10px 15px;
            transition:all 0.2s;

            .custom-control{
                width:calc(100% - 80px);
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .steps-col-check-check{
                position:absolute;
                right:15px;
                top:36px;
                width:80px;
                height:37px;
                border:1px solid rgba(0,0,0,0.15);
                border-left:0px;
                border-top-right-radius:3px;
                border-bottom-right-radius:3px;
                text-align:center;
                background:#fff;
                .steps-col-check-wrapper{
                    position:absolute;
                    width:16px;
                    height:16px;
                    top:calc(50% - 8px);
                    left:calc(50% - 8px);
                    border:1px solid rgba(0,0,0,0.1);
                    background:rgba(0,0,0,0.1);
                    .fa-check{
                        position:absolute;
                        font-size:20px;
                        color:#2fa360;
                    }
                }
                .steps-col-check-wrapper:hover{cursor:pointer;}
                input{
                    padding-top:10px;
                }
            }


            .steps-col-check{
                position:relative;
                left:0px;
                top:0px;
                width:100%;
                height:40px;
                border:1px solid rgba(0,0,0,0.1);
                border-radius:3px;



                .steps-col-check-name{
                    position:relative;
                    left:0px;
                    top:0px;
                    width:calc(100% - 380px);
                    height:100%;
                    p{
                        margin-left:20px;
                        padding-top:8px;
                    }
                }

                .steps-col-check-datepicker{
                    position:absolute;
                    right:80px;
                    top:0px;
                    width:300px;
                    height:100%;
                }
            }
            .steps-col-warn{
                width:100%;
                background:#F2DEDE;
                padding:3px;
                margin-top:10px;
                transition:all 0.2s;
                p{
                    margin:0px;
                    margin-left:5px;
                    width:calc(100% - 10px);
                    margin-bottom:5px;
                }
            }
            textarea{

            }
        }
        .steps-datepicker{height:80px; overflow:visible; }

        /* Here we can define image - like user profile image or something like that */
        .steps-image{
            position:relative;
            width:calc(100% - 30px);
            left:15px;
            margin-top:10px;
            border-radius:5px;
            height:232px;
            img{
                position:absolute;
                left:0px;
                top:0px;
                right:0px;
                bottom:0px;
                max-width:90%;
                max-height:90%;
                margin:auto;
            }
            .steps-image-shadow{
                position:absolute;
                left:0px;
                top:0px;
                width:100%;
                height:232px;
                background:rgba(0,0,0,0.05);
                transition:all 0.2s;
                text-align:center;
                i{
                    font-size:60px;
                    position:absolute;
                    left:calc(50% - 30px);
                    top:calc(50% - 30px);
                    color:grey;
                    transition:all 0.2s;
                    opacity:0.1;
                }
            }
        }

        .steps-image:hover .steps-image-shadow{cursor:pointer; background:rgba(0,0,0,0.1);}
        .steps-image:hover .steps-image-shadow i{color:#3490dc; opacity:1;}

        .file-input{display:none;}
    }

    .copy-button-wrapper{
        position:absolute;
        right:20px;
        top:26px;
        width:74px;
        height:20px;
        background:#3490dc;
        text-align:center;
        border-radius:3px;
        z-index:100;
        i{
            position:absolute;
            right:5px;
            top:calc(50% - 5px);
            font-size:10px;
            color:#fff;
        }

        p{
            position:absolute;
            left:5px;
            font-size:10px;
            color:#fff;
            margin-top:3px;
        }
    }

    .copy-button-wrapper:hover{cursor:pointer;}
}

.active-section {
    display:inline-flex;
}

.small-section{
    .copy-button-wrapper{
        right:50px;
    }

    .show-button-wrapper{
        position:absolute;
        right:20px;
        top:26px;
        width:20px;
        height:20px;
        background:#3490dc;
        text-align:center;
        border-radius:3px;
        z-index:100;

        i{
            position:absolute;
            right:5px;
            top:calc(50% - 5px);
            font-size:10px;
            color:#fff;
        }
    }
    .show-button-wrapper:hover{cursor:pointer;}
}

.steps-wizard{
    ul{
        li{

        }
    }
}

@import "upload";